*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
   padding: 0px;
   margin: 0px;
}
nav{
   height: 80px;
   width: 	100%;
     background: #2c3e50;
     /* position: fixed; */
}
ul .imag{
   float: right;
   padding: 30px 40px 0px;
   cursor: pointer;
}
ul .imag i{
   color: white;
   font-size: 1.3rem;
}
ul .logo{
   color: rgb(240, 230, 230);
   float: left;
   padding: 20px 40px 0px;
}
ul .logo h1{
   background-color: rgb(230, 34, 34);
   border-radius: 50%;
   color: white;
   height: 35px;
   width: 38px;
   padding: 4px 0px 0px;
   text-align: center;
      }
nav ul{
   text-align: center;
   background-color:rgb(15, 2, 2);
}
nav ul li{
   display: inline-block;
   line-height: 80px;
   margin: 0 10px;
}
nav ul li a{
   position: relative;
   color: white;
   font-size: 1.2rem;
   padding: 5px 0px;
   text-transform: uppercase;
}
nav ul li a:before {
   position: absolute;
   content: '';
   top: 0;
   bottom: 0;
   height: 3px;
   width: 100%;
   background: rgb(241, 6, 6);
   transform: scaleX(0);
   transform-origin: right;
   transition: transform .4s linear;
}
nav ul li a:hover:before{
   transform: scaleX(1);
   transform-origin: left;
}
label #btn,
label #cancel{
   color: white;
   font-size: 30px;
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}
#check{
   display: none;
}
@media (max-width: 900px){
   nav ul li a{
      font-size: 16px;
   }
}
@media (max-width: 700px){
   nav ul li a{
      font-size: 15px;
   }
   nav ul .imag i{
      visibility: visible;
   }
   ul .logo{
      color: rgb(240, 230, 230);
      float: left;
      padding: 20px 10px 0px;
   }
}
@media (max-width:545px){
   label #btn{
      display: block;
   }
   nav ul .imag i{
      visibility:visible;
      float: inline-end;
   }
   ul .logo{
      color: rgb(240, 230, 230);
      float: left;
      padding: 10px 10px 0px;
   }
   ul{
      position: fixed;
      width: 75%;
      height: 100vh;
      background: #031425;
      color: white;
      /*top: 80px;*/
      left: -100%;
      text-align: center;
      transition: all 3s ease-in-out;
   }
   nav ul li{
      display: block;
      margin: 20px 0;
      line-height: 30px;
   }
   nav ul li a{
      font-size:15px;
   }
   #check:checked ~ ul{
      left: 0;
   }
   #check:checked ~ label #btn{
      display: none;
   }
   #check:checked ~ label #cancel{
      display: block;
   }
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
           HOME SECTION
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\  */
.home1{
   background-image: url(images/hackers.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   width: 100%;
   height: auto;
   position: relative;
   background-position: center;
   opacity: 0.9;
}
.home-titles{
   padding-left: 60px;
   font-family: 'Poppins', sans-serif;
   padding: 0px 0px 0px 0px;
}
.home-titles h6{
   padding-top: 100px;
   font-size: 16px;
   width: 30%;
   padding-left: 30px;
   padding-bottom: 30px;  
}
.home-titles h1{
   padding-left: 30px;
}
.home-titles h1{
   font-family: 'Poppins', sans-serif;
   font-size: 45px;
   font-style: normal;
   align-items: flex-start;
}
.home-titles p{
   font-size: 16px;
   padding-top: 25px;
   padding-bottom: 35px;
   width: 60%;
   padding-left: 30px;
   font-family: 'Open Sans', sans-serif;
}
.home-titles button{
   background-color: rgb(255, 66, 85);
   color: white;
   height: 40px;
   margin-left: 30px;
   border: 1px;
   cursor: pointer;
   font-family: sans-serif;
   width: 9rem;
   border-radius: 7px;
}
.info{
   display: flex;
   flex-direction: row;
   padding-top: 65px;
   /* flex-wrap: nowrap; */
   justify-content: space-evenly;
   justify-content: flex-start;
   width: 60%;
   padding-left: 30px;
   font-family: 'Mulish', sans-serif;
   font-family: 'Poppins', sans-serif;
   margin: 0px;
   font-size: 16px;
}
.info h2{
   font: 18px;
}
.info p{
   width: 70%;
}
/* ///////////////////////////////
       About section
////////////////////////////// */
 .about-me{
   width: 100%;
}
.about-main{
   padding-left: 77px;
}
.about-main h1{
   width: 60%;
   margin-top: 20px;
   font-family: 'Poppins', sans-serif;
   font-size: 32px;
}
.about-main p{
   width: 76%;
   font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif;
   font-size: 13px;
}
.about-main h1 i{
   color: rgb(247, 149, 125,0.25);
   position: relative;
   right: 170px;
   top: 5px;
   font-size: 39px;
}
.me{
   padding: 27px 10px;
   width: 96%;
   text-align: start;
}

.me h5{
   font-family: 'Mulish', sans-serif;
   font-family: 'Poppins', sans-serif;
   padding-left: 07px;
   font-size: 20px;
}
.me p{
   font-size: 17px;
   line-height: 25px;
   width: 90%;
   padding-top: 10px;
}
.photo img{
   margin-top: 20px;
   height: 400px;
   border-radius: 10px;
   border: 2px solid red solid white;
   width: 93%;
   opacity: 0.6;
}
.self{
   display: flex;
   flex-direction: row;
   padding-top: 20px;
   padding-left: 56px;
justify-content:space-between;
   width: 80%;
}
.information{
   justify-content: center;
   display: flex;
   flex-direction: row;
   width: 60%;
   justify-content: space-between;
   padding: 20px 05px;
}
.information ul{
   flex-direction: column;
   font-size: 17px;
   margin: 10px;
}
.information ul li span{
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   color: rgba(0, 0, 0, 0.835);
}
.btn{
   margin-top: 10px;
}
.btn button{
   margin-top: 20px;
   background-color:rgb(255, 30, 90);
   height: 40px;
   color: white;
   width: 9rem;
   cursor: pointer;
   border-radius: 5px;
   border: 1px;
}
.btn button span{
   margin-left: 5px;
}
.boxes-father{
   font-family: 'Fira Sans Condensed', sans-serif;
   margin-top: 50px;
   display: flex;
   padding-left: 3.5%;
   width: 93%;
   flex-direction: row;
   justify-content: space-around;
font-family: 'Open Sans', sans-serif;
font-family: 'Overpass', sans-serif;
font-family: 'Roboto', sans-serif;
font: medium;
}
.boxes-father .box{
   text-align:center;
   font-size: 18px;
   padding: 20px;
   margin: 10px;
   border-radius: 10px;
   background-color: whitesmoke;
}
.box i{
   font-size: 25px;
   align-items: center;
   padding-top: 25px;
}
/* ///////////////////////////////////////////
   Experience And Education Section
  /////////////////////////////////////////// */
.exprience{
   display: flex;
   flex-direction: row;
   padding-left: 3.5%;
   margin-top: 40px;
   width: 92%;
   justify-content: space-between;
   font-family: 'Roboto', sans-serif;
}
.exp, .Edu{
   width: 100%;
  margin-left: 20px;
  margin-top: 20px;
}
.exp h1, .Edu h1{
font-size: 20px;
padding: 15px;
}
.My-Exp{
   height: auto;
   padding: 30px;
   margin-top: 20px;
   box-shadow:0 4px 8px 10px whitesmoke;
}
.My-Exp h1{
   padding-top: 15px;
}
.My-Edu p, .My-Exp p{
   line-height: 23px;
   font-size: 15px;
}
.My-Exp h6{
   padding-top: 3px;
   padding-bottom: 12px;
   font-size: 10px;
}
.My-Edu{
   height: auto;
   padding: 30px;
   margin-top: 20px;
   box-shadow:0 4px 8px 10px whitesmoke;
}
.My-Edu h6{
   padding-bottom: 12px;
   padding-top: 3px;
   font-size: 10px;
}
.My-Edu h3, .My-Exp h3{
   padding-top: 30px;
   font-size: 18px;
} 
/* ////////////////////////////////////////////
                      My Services 
   /////////////////////////////////////////// */
#My-Services{
margin-top: 90px;
display: flex;
justify-content: space-around;
flex-direction: row;
padding-left: 3.5%;
width: 92%;
}
.Services-heading{
   padding-left: 2%;
}
.services-my{
   width: 100%;
}

#My-Services h1 i{
color: rgb(247, 149, 125,0.25);
position: relative;
right: 199px;
top: 5px;
font-size: 40px;
}
#My-Services h1{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    width: 70%;
} 
#My-Services p{
font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif;
font-size: 16px;
}
.services{
width: 100%;
display: flex;
justify-content: space-around;
}
.services .box{
margin-top: 40px;
border-radius: 5px;
margin: 15px;
text-align: center;
background-color: whitesmoke;    
}
.services .box h1 {
   margin: 30px 0px 25px 0px;
}
.services .box h1 span{
border: red 1px solid;
border-radius: 50%; 
font-size: 20px;
padding: 3% 5%;
margin-left: 40%;
margin-top: 20%;
color: red;
font-size: 35px;
}
.services .box p{
    font-size: 15px;
    padding: 20px;

}
.services .box h2{
   font-size: 20px;
}
/* /////////////////////////////////////////////////
                   My Works Section
   //////////////////////////////////////////////// */
#My-Works{
margin-top: 90px;
display: flex;
flex-direction: row;
width: 97%;
padding-left: 2.5%;
justify-content: space-around;
}
.work-heading{
   padding-left: 3%;
}
#My-Works h1{
font-family: 'Poppins', sans-serif;
font-size: 32px;
}
#My-Works p{
   font-family: 'Mulish', sans-serif;
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   width: 90%;
}
.Works{
   width: 90%;
display: flex;
flex-direction: row;
padding-left: 30px;
}
.Works .box{
margin-top: 40px;
border-radius: 5px;
text-align: center;
background-color: whitesmoke;
margin: 10px; 
}
.Works .box:hover{
    box-shadow:0 7px 8px 5px whitesmoke;
}
.Works .box p{
font-size: 15px;
padding-bottom: 20px;

}
.Works .box p i{
color: red;
font-size: 16px;
padding-left: 10px;
}
.Works .box img{
   width: 100%;
   height: 86%;

}
#My-Works h1 i{
color: rgb(247, 149, 125,0.25);
position: relative;
right: 191px;
top: 5px;
font-size: 40px;
margin-left: 29px;
}
     /* ////////////////////////////////////////////////
                     Our Clients Sections
       //////////////////////////////////////////////// */
.Our-Clients{
display: flex;
flex-direction: row;
width: 100%;
}
.clients-heading{
   padding-left: 5.5%;
}
.Our-Clients .our{
   margin-top: 80px;
}
.Our-Clients h1{
font-family: 'Poppins', sans-serif;
font-size: 32px;
}
.Our-Clients h1 i{
position: relative;
right: 177px;
font-size: 2.6rem;
top: 4px;
color: rgb(247, 149, 125,0.25);
}
.Clients{
width: 92%;
padding-left: 10px;
margin-top: 16px;
display: flex;
flex-direction: row;
}
.Clients .box img{
   position: relative;
   top: 150px;
   right: 30px;
   height: 55px;
width: 60px;
border-radius: 50%;
padding: 2.5px;
border: red 2px solid;
}
.Clients .box{
width: 90%;
border-radius: 5px;
margin-left: 60px;
margin-top: 15px;
background-color: whitesmoke;
}
.Clients .box p{
justify-content: center;
align-items: center;
margin-top: 1rem;
padding: 50px;
padding-top: 10px;
font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif;
font-size: 16px;
}
.Clients .box i{
   color: red;
   font-size: 10px;
   width: 12px;
   border-radius: 50%;
   text-align: center;
   border: 2px solid red;
   padding: 10px;
}
.Clients .box h4{
   border-left: red 3px solid;
   text-align: left; 
   padding-left: 5px;
   margin-left: 50px;
   margin-bottom: 10px;
}
.Clients .box h4 span{
   padding-left: 05px;
   font-family: 'Courier New', Courier, monospace;
}
.span{
color: rgb(80, 74, 64);
font-size: 25px;
}
/* ///////////////////////////////////////////////////////
                       Blog Section
/////////////////////////////////////////////////////// */

.section-of-blogs{
   padding-left: 60px;
}
.blogs-heading{
   padding-left: .7%;
}
.section-of-blogs .blogs h1 i{
   color: rgb(247, 149, 125,0.25);
   position: relative;
   top: 5px;
   right: 135px;
   font-size: 40px;
}
.section-of-blogs .blogs{
   margin-top: 70px;
   width: 100%;
}
.blogs .container{
   width:94%;
   margin-top: 20px;
   justify-content: space-between;
   display: flex;
   flex-direction: row;

}
.col {
   width: 94%;
}
.col img{
   width: 94%;
   height: 250px;
}
.col .blog-lo-sec{
   width: 75%;
   margin-right: 10px;
   position: relative;
   bottom: 50px;
   left: 23px;
   background-color: rgb(240, 230, 230);
   border-radius: 5px;
   text-align: left;
}
.blog-lo-sec h6{
    border-left: red 3.5px solid;
    padding-left: 40px;
    padding-top: 05px;
    font-size: 10px;
}
.blog-lo-sec p, h2{
   padding: 20px;
   width: 93%;
   padding: 10px;
}
.blog-lo-sec h2{
   font-size: 18px;
   font-family: 'Poppins', sans-serif;
}
.blog-lo-sec p{
font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif;
font-size: 13px;
}
.blog-lo-sec button{
   margin-left: 20px;
   margin-bottom: 20px;
   color: white;
   border: none;
   padding: 07px;
   width: 110px;
   border-radius: 5px;
   background-color: red;
}
.blog-lo-sec button i{
   padding-left: 04px;
}
.blog-lo-sec button:hover{
   color: red;
   background: whitesmoke;
   cursor: pointer;
   border: none;
}
/* //////////////////////////////////////////
               Contact Section
/////////////////////////////////////////  */
.My-Container{
width: 93%;
padding-left: 5%;
margin-top: 20px;
}
.contact-heading{
   width: 85%;
   padding-left: 5px;
}
#me-contact{
    margin-top: 40px;
}
.Contact{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-top: 20px;
    justify-content: space-around;
}
#me-contact h1,p{
   font-family: 'Raleway', sans-serif;
   padding: 5px;
}
#me-contact .Contact .form .btn-msg i{
 font-size: small;
 color: white;
padding-right: 05px;
}

#me-contact h1 i{
    position: relative;
    right: 148px;
    top: 2.5px;
    color: rgba(255, 0, 0, 0.171);
    font-size: 38px;
}
#me-contact .Contact
.form{
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 10px;
}
.form input,textarea{
    margin: 0.7rem;
    padding: 7px;
    background-color: whitesmoke;
    border: 1px rgba(156, 155, 155, 0.329) solid;
    border-radius: 5px;

}
.btn-msg button{
padding: 7px 20px;
background-color:rgb(255, 30, 90);
color: rgb(248, 244, 244);
cursor: pointer;
border-color: red;
border: none;
width: 150px;
border-radius: 5px;
padding-left: 20px;
}
.btn-msg button:hover{
    background-color: rgb(243, 193, 193);
    color: red;
}
#me-contact .Contact .form .btn-msg i:hover{
   background-color: rgb(243, 193, 193);
   color: red;
}
.btn-msg{
    padding: 10px;
    padding-left: 1rem;}
.let-talk{
    width: 92%;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    line-height: 25px;
}
.let-talk .let p{
   font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif;
font-size: 15px;
}
.info-about h3{
    margin-top: 12px;
    font-family: Poppins, sans-serif;
    font-size: 17px;
}
.info-about p{
    margin-left: 14px;
    font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif;
font-size: 12px;
}
.info-about i{
    color: red;
    font-size:small;
    position: relative;
    right: 105px;
}
.info-about .phno i{
   right: 80px;
}
.info-about .mail i{
   right: 120px;
}
.info-about .Adress i{
   right: 101px;
}
.info-about .sky i{
   right: 110px;
}
/* //////////////////////////////////////////
              Footer section
////////////////////////////////////////// */
.footer{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 0px;
    height: 100px;
    font-size: 22px;
    align-items: center;
    padding: 1rem 0;
}
.footer .footer-icons {
   display: flex;

}
.footer .footer-icons .icon-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30px;
   width: 30px;
   border: 1px solid #000;
   border-radius: 50%;
   margin: 0 4px;
}
.footer .footer-icons .icon-wrapper:hover {
   background: rgba(0,0,0,0.4);
   color: white;
}